build/
cmake-build-*/
*.user
*.autosave
*.db
*.db-wal
*.db-shm
.cache/
.vscode/
.idea/

# Local copyrighted dumps — never commit. testdata/ is synthetic vectors only.
/testroms/*
!/testroms/README.md
